{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<h1></h1>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Subscribe for weather notifications: </h3></div>
      <div class="panel-body">
        <form action="/register" method="post" class="form">
          {% csrf_token %}

          {% bootstrap_field form.email layout='horizontal' size='sm' %}
          {% bootstrap_field form.location layout='horizontal' size='sm' %}

          <center>
            {% buttons %}
              <button class="btn btn-primary" type="submit">
                 Subscribe
               </button>
            {% endbuttons %}
          </center>
        </form>
      </div>
    </div>
  </div>
</div>
